@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Arabic:wght@100;200;300;400;500;600;700&display=swap");

html,
body,
#root,
.app {
  height: 100vh;
  width: 100vw;
  /* background-color: #0b111d; */
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
  direction: rtl;
  /* 
sky.jpeg
mosq.jpg
*/
  background: url("/endless-constellation.svg") repeat center center fixed;
  /* background: url("/sky.jpeg") no-repeat center center fixed;
  background-size: cover; */
  /* Optional overlay for readability */
  /* background-color: rgba(11, 17, 29, 0.85);
  background-blend-mode: screen; */
}
